<main class="ms-welcome__main">
    <input type="file" (change)="onSelectFile($event)">
    <button (click)="insertImage()">Insert Image</button>
    <br />
    <br />
    <button (click)="insertTable()">Insert Table</button>
    <br />
    <br />
    <button (click)="createPresentation()">Create New Presentation</button>
    <br /><br /><br />
    <p class="ms-font-l">Modify the source files, then click <b>Run</b>.</p>
    <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" (click)="run()">
        <span class="ms-Button-label">Run</span>
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
    </div>
</main>
